@media -sass-debug-info {
  filename {
    font-family: file\:\/\/D\:\/job\/xampp\/htdocs\/brainos_ps\/leo_drug_store\/themes\/leo_drug_store\/sass\/modules\/leobootstrapmenu\/megamenu\.scss;
  }
  line {
    font-family: \000031;
  }
}
.leo-megamenu {
  position: relative;
}
